<<<<<<< HEAD
<h1><%= t "pw_resets.view.title" %></h1>

<p><%= t "pw_resets.view.header" %></p>

<%= link_to t("pw_resets.view.title"), edit_password_reset_url(:en, @user.reset_token, email: @user.email) %>

<p><%= t "pw_resets.view.expire" %></p>

<p><%= t "pw_resets.view.content" %></p>
=======
<h1>User#password_reset</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/password_reset.html.erb
</p>
>>>>>>> a193bad (Add account activation)
